.content-container {
    position: relative;
    left: 20px;
}

.bloc-chat-title {
    text-transform: uppercase;
    display: inline;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button {
    font-family: 'Monda', sans-serif;
    background-color: rgb(210, 210, 210);
}

.add-room-button {
    margin: 10px;
    float: right;
    clear: both;
    cursor: pointer;
}

.room-bar {
    position: relative;
    z-index: 3;
    height: 100%;
    box-shadow: 9px 5px 5px black;
    background-color: grey;
    width: 300px;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    float: left;
    color: white;
}

.room-list {
    margin-top: 20px;
    padding-left: 30px;
}

.room-item {
    cursor: pointer;
}

.username-box {
    width: 300px;
    height: 150px;
    position: absolute;
    box-shadow: 10px 5px 5px black;
    background-color: lightgrey;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;
}

.modal-box {
    width: 300px;
    height: 150px;
    position: absolute;
    box-shadow: 10px 5px 5px black;
    background-color: lightgrey;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;
}

.message-box {
    float: right;
    position: fixed;
    box-sizing: border-box;
    bottom: 0px;
    height: 40px;
    width: calc(100% - 394px);
    font-size: 20px;
    left: 394px;
}

.send-button {
    z-index: 3;
    display: inline;
    position: fixed;
    clear: both;
    cursor: pointer;
    left: 330px;
    bottom: 0px;
    height: 40px;
    font-size: 20px;
}

.modal-body {
    margin-bottom: 10px;
}

.message-list {
    margin-bottom: 20px;
}

.message-list:nth-child(odd) {
    background-color: rgb(210, 210, 210);
}

.message-username {
    font-weight: bold;
    display: block;
}

.message-time {
    font-style: italic;
    float: right;
    clear: right;
    padding-right: 30px;
}