<section class="room-bar">
    <h2 class="bloc-chat-title">Bloc Chat</h2>
    <button class="add-room-button button" type="button" ng-click="home.openModal()">Add Room</button>
    <div class="room-list" ng-repeat="room in home.allRooms track by $index">
        <span class="room-item" ng-click="home.selectRoom(room)">{{ room.$value.toUpperCase() }}</span>
    </div>
</section>

<section class="content-container">
    <h2 class="content-title" ng-show="selectedRoom === $index">{{home.selectedRoom.$value.toUpperCase()}}</h2>
    <div class="message-list" ng-repeat="currentMessage in home.selectedMessages">
        <span class="message-username message-row">{{ currentMessage.username }}</span>
        <span class="message-content message-row">{{ currentMessage.content }}</span>
        <span class="message-time">{{ currentMessage.sentAt }}</span>
    </div>
    <div ng-hide="home.selectedMessages.length !== 0">This chat room has no messages.</div>

    <form class="message-container" ng-controller='MessageCtrl as message' ng-submit="message.createMessage(home.selectedRoom)" ng-show="home.selectedRoom !== null">
        <button class="send-button button" type="submit">Send</button>
        <div class="overflow-box">
            <input class="message-box" type="text" ng-model="message.userMessage" placeholder="Write your message here">
        </div>
    </form>
</section>